.flexcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #f3f3f3;

}
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

body {
  background: rgba(251,199,25,1);
  display: grid;
  grid-template-columns: 1fr;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

:root {
  --primary: #FFCE00;
  --secondary: #FE4880;
  --dark: #212121;
  --light: #F3F3F3;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.chance {
  margin: 20px auto 0;
  width: 130px;
  margin-right: 15px;
  margin-bottom: 20px;
  height: 170px;
  perspective: 1000px;
}

.chance__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.chance__inner.is-flipped {
  transform: rotateY(180deg);
}


.chance__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.chance__face--front {
  background-color: RGBA(47,122,75,1);
  align-items: center;
  justify-content: center;
}

.chance__face--front h2 {
  color: #FFF;
  font-size: 16px;
  text-align: center;
  margin-top:  25px;
}

.chance__face--front img {
  margin-left: 43px;
  height: 100px;
}

.chance__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.chance__content {
  width: 100%;
  height: 100%;
}

.chance__header {
  position: relative;
  padding: 10px 10px 20px;
}

.chance__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: RGBA(47,122,75,1);
  z-index: -1;
  border-radius: 0px 0px 30% 0px;
}


.chance__header h2 {
  color: #FFF;
  font-size: 5px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding-top:10px;
}

.chance__body {
  padding: 10px;
}

.chance__body p {
  color: var(--dark);
  font-size: 8px;
  font-weight: 600;
  margin-bottom: 15px;
}


.chest {
  margin: 20px auto 0;
  margin-left: 15px;
  margin-bottom: 20px;
  width: 130px;
  height: 170px;
  perspective: 1000px;
}

.chest__inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.chest__inner.is-flipped {
  transform: rotateY(180deg);
}


.chest__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.chest__face--front {
  background-color: RGBA(41,123,174,1);
  align-items: center;
  justify-content: center;
}

.chest__face--front h2 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

.chest__face--front img {
  margin-left: 12px;
  height: 90px;
}

.chest__face--back {
  background-color: var(--light);
  transform: rotateY(180deg);
}

.chest__content {
  width: 100%;
  height: 100%;
}

.chest__header {
  position: relative;
  padding: 30px 10px 30px;
}

.chest__header:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: RGBA(41,123,174,1);
  z-index: -1;
  border-radius: 0px 0px 30% 0px;
}


.chest__header h2 {
  color: #FFF;
  font-size: 5px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.chest__body {
  padding: 10px;
}

.chest__body p {
  color: var(--dark);
  font-size: 8px;
  font-weight: 600;
  margin-bottom: 15px;
}


.set {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.dice {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
  grid-template-rows: auto;
  justify-items: center;
  padding: 2rem;
  perspective: 600px;
  margin-bottom: 30px;
  margin-right: 10px;
}
.die-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 6rem;
  list-style-type: none;
  transform-style: preserve-3d;
  width: 6rem;
}
.even-roll {
  transition: transform 1.5s ease-out;
}
.odd-roll {
  transition: transform 1.25s ease-out;
}
.die-item {
  background-color: #fefefe;
  box-shadow: inset -0.35rem 0.35rem 0.75rem rgba(0, 0, 0, 0.3),
    inset 0.5rem -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-areas:
    "one two three"
    "four five six"
    "seven eight nine";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  padding: 1rem;
  width: 100%;
}
.dot {
  align-self: center;
  background-color: #676767;
  border-radius: 50%;
  box-shadow: inset -0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.5);
  display: block;
  height: 1.25rem;
  justify-self: center;
  width: 1.25rem;
}
.even-roll[data-roll="1"] {
  transform: rotateX(360deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="2"] {
  transform: rotateX(450deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(360deg);
}
.even-roll[data-roll="4"] {
  transform: rotateX(360deg) rotateY(810deg) rotateZ(360deg);
}
.even-roll[data-roll="5"] {
  transform: rotateX(270deg) rotateY(720deg) rotateZ(360deg);
}
.even-roll[data-roll="6"] {
  transform: rotateX(360deg) rotateY(900deg) rotateZ(360deg);
}
.odd-roll[data-roll="1"] {
  transform: rotateX(-360deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="2"] {
  transform: rotateX(-270deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="3"] {
  transform: rotateX(-360deg) rotateY(-810deg) rotateZ(-360deg);
}
.odd-roll[data-roll="4"] {
  transform: rotateX(-360deg) rotateY(-630deg) rotateZ(-360deg);
}
.odd-roll[data-roll="5"] {
  transform: rotateX(-450deg) rotateY(-720deg) rotateZ(-360deg);
}
.odd-roll[data-roll="6"] {
  transform: rotateX(-360deg) rotateY(-900deg) rotateZ(-360deg);
}
[data-side="1"] {
  transform: rotate3d(0, 0, 0, 90deg) translateZ(4rem);
}
[data-side="2"] {
  transform: rotate3d(-1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="3"] {
  transform: rotate3d(0, 1, 0, 90deg) translateZ(4rem);
}
[data-side="4"] {
  transform: rotate3d(0, -1, 0, 90deg) translateZ(4rem);
}
[data-side="5"] {
  transform: rotate3d(1, 0, 0, 90deg) translateZ(4rem);
}
[data-side="6"] {
  transform: rotate3d(1, 0, 0, 180deg) translateZ(4rem);
}
[data-side="1"] .dot:nth-of-type(1) {
  grid-area: five;
}
[data-side="2"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="2"] .dot:nth-of-type(2) {
  grid-area: nine;
}
[data-side="3"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="3"] .dot:nth-of-type(2) {
  grid-area: five;
}
[data-side="3"] .dot:nth-of-type(3) {
  grid-area: nine;
}
[data-side="4"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="4"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="4"] .dot:nth-of-type(3) {
  grid-area: seven;
}
[data-side="4"] .dot:nth-of-type(4) {
  grid-area: nine;
}
[data-side="5"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="5"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="5"] .dot:nth-of-type(3) {
  grid-area: five;
}
[data-side="5"] .dot:nth-of-type(4) {
  grid-area: seven;
}
[data-side="5"] .dot:nth-of-type(5) {
  grid-area: nine;
}
[data-side="6"] .dot:nth-of-type(1) {
  grid-area: one;
}
[data-side="6"] .dot:nth-of-type(2) {
  grid-area: three;
}
[data-side="6"] .dot:nth-of-type(3) {
  grid-area: four;
}
[data-side="6"] .dot:nth-of-type(4) {
  grid-area: six;
}
[data-side="6"] .dot:nth-of-type(5) {
  grid-area: seven;
}
[data-side="6"] .dot:nth-of-type(6) {
  grid-area: nine;
}

button {
  align-self: center;
  background-color: #efefef;
  border: none;
  color: #333;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  justify-self: center;
  padding: 0.5rem 1rem;
}
button:hover {
  cursor: pointer;
}

@media (min-width: 900px) {
  .dice {
    perspective: 1300px;
  }
}

.calcset h {
  display: block;
  text-align: center;
  color: #FF0509;
  font-size: 20px;
  font-weight: 500;
}

.container {
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
  border-radius: 14px;
  padding-bottom: 20px;
  width: 320px;
  height: 360px;
  
 }
 .display {
  width: 100%;
  height: 60px;
  padding: 10px 0;
  background: #FF0509;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
 }
 .buttons {
  padding: 10px 20px 20px;
 }
 .row {
  width: 280px;
  float: left;
 }
 input[type=button] {
  width: 60px;
  height: 60px;
  float: left;
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
  background: #ecedef;
  border: none;
  font-size: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-weight: 700;
  color: #5E5858;
  cursor: pointer;
  
 }
 input[type=text] {
  width: 270px;
  height: 60px;
  float: left;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #ffffff;
  text-align: right;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  margin: 0 25px;
  
 }
 .red {
  background: #FF0509 !important;
  color: #ffffff !important;
  
 }